PORT=3000
MONGODB_URI=mongodb+srv://manassdev28_db_user:@cluster0.a7p6r5a.mongodb.net/tradingview?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=e520ae310fed5110fdfdaab669c9f2b994ab839b53c103aa186c291750fd5e85
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:3000
